<% @people.each do |person| %>
  <div class='person'>
    person <%= person.id %> <%= person.name %>
  </div>
<% end %>

<% if defined?(Kaminari) %>
  <% if @people.respond_to?(:total_pages) %>
    <%= paginate(@people) %>
  <% end %>
<% elsif defined?(WillPaginate) %>
  <% if @people.respond_to?(:total_pages) %>
    <%= will_paginate(@people) %>
  <% end %>
<% end %>
