<% @people.each do |person| %>
  <div class='person'>
    person <%= person.id %> <%= person.name %>
  </div>
<% end %>

<% if @people.respond_to?(:total_pages) %>
  <%= paginate(@people) %>
<% end %>
